@use '@/scss/utils/media' as media;

.main-hero {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__swiper {
    position: relative;
    width: 100%;
    height: 539px;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;

    @include media.max-width(md) {
      height: auto;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    padding: 0;
    border: none;
    border-radius: 50%;

    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;

    --ty: -50%;
    transform: translateY(var(--ty));
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;

    @media screen and (max-width: 1365px) {
      display: none;
    }

    &:focus-visible {
      transform: translateY(var(--ty)) scale(1.05);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover:not(:active) {
        transform: translateY(var(--ty)) scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
    }

    &:active {
      transform: translateY(var(--ty)) scale(0.95);
    }

    &_prev {
      left: 20px;

      .main-hero__button-icon {
        transform: rotate(90deg);
      }
    }

    &_next {
      right: 20px;

      .main-hero__button-icon {
        transform: rotate(-90deg);
      }
    }
  }

  &__button-icon {
    display: block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    fill: #ffffff;
    color: #ffffff;
  }
}
