.not-found {
  background-image: url('../../../assets/image/components/404/404-background-PC.webp');
  background-size: cover;
  background-position: center;
  min-height: 689px;
  &__title {
  }

  &__text {
  }

  &__subtitle {
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }
}
