@use "@/scss/utils/variables" as vars;
@use "@/scss/utils/media" as media;

:root {
    --primary: #{vars.$primary};
    --green: #{vars.$green};
    --blue: #{vars.$blue};
    --text: #{vars.$text};
    --text-secondary: #{vars.$text-secondary};
    --facebook: #{vars.$facebook};
    --google-gradient: #{vars.$google-gradient};
    --white: #{vars.$white};
    --input-border: #{vars.$input-border};

    --font-family: #{vars.$font-family};
    --second-family: #{vars.$second-family};
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #F3F4F6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #F59E0B;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D97706;
}

// font-family: Open Sans  400,700
// second-family: Roboto  400,600
body {
    font-family: var(--font-family);
    font-weight: 400;
    background: #fff;
    font-size: 14px;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 98px;

    @include media.max-width(md) {
        padding: 0 20px;
    }
}

.title {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

picture {
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
    }
}

input,
button,
textarea,
select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;

    &:focus {
        outline: none;
    }
}