* {
    padding: 0;
    margin: 0;
    border: 0;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;

}

*, *::before, *::after {
    box-sizing: border-box;
}

a:focus, a:active {
    outline: none;
}
//a:focus:not(:focus-visible), a:active {
//    outline: none;
//}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.4;
    //height: 100%;
    //width: 100%;
}

input, select, button, textarea {
    font: inherit;
    color: inherit;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

picture, svg, img {
    display: block;
}

video,
canvas {
    display: block;
    max-width: 100%;
}




