@use '@/scss/base/reset';
@use '@/scss/base/base';
@use '@/scss/ui/states';

@use '@/scss/ui/intro-header';
@use '@/scss/layout/header';
@use '@/scss/layout/burger-menu';

@use "@/scss/ui/form";

@use '@/scss/layout/footer';

.password-recovery__bg {
    padding-bottom: 84px;
}

.form {
    .password-recovery {
        &__form-container {
            padding: 30px 28px 32px 28px;
        }

        &__input-group {
            margin-bottom: 30px;
        }
    }
}