<div class="{{classNameCard}} hot-card" data-card>
  <div class="hot-card__image-wrap">
    <div class="hot-card__overlay">
      <div class="hot-card__meta">
        {{> ui/svg className="hot-card__meta-icon" id="clock"}}
        <span class="hot-card__meta-text" data-card-date>soon</span>
      </div>
      <div class="hot-card__meta">
        {{> ui/svg className="hot-card__meta-icon" id="point"}}
        <span class="hot-card__meta-text" data-card-location></span>
      </div>
    </div>

    <picture class="hot-card__picture">
      <img
        src="" alt="{{img}}" loading="lazy"
        data-card-img>
    </picture>
  </div>


  <div class="hot-card__header">
    <span class="hot-card__title" data-card-hotel>Отель</span>
    {{> ui/rating className="hot-card__rating"}}
  </div>

  <div class="hot-card__footer">
    <div class="hot-card__price">
      <span class="hot-card__price_current"><span
        class="hot-card__price-value" data-card-price>509</span>€/чол</span>
      <span class="hot-card__price_old" data-card-old-price>779€/чол</span>
    </div>

    {{> ui/badge
      className="hot-card__badge"
      text="-30%"
    }}

  </div>
</div>
