<div class="{{className}} season-card">
    <picture class="season-card__picture">
        <img
          src="src/image/test.webp"
          alt="{{altPict}}">
    </picture>
    <div class="season-card__content">
        <div class="season-card__info">
            {{> ui/svg
            className="season-card__info-icon"
            id="location"
            }}
            <span class="season-card__info-location">
            Литва
            </span>
            <span class="season-card__info-price">от <span class="season-card__info-price_bold">509€</span>/чел</span>
        </div>
        <a
          href="#!"
          class="season-card__btn btn btn_orange">Выбрать тур</a>
    </div>
</div>