<div class="{{className}} swiper-cards">
  <div class="swiper-cards__container">
    <div class="swiper-cards__swiper swiper">
      <div class="swiper-cards__swiper-wrapper swiper-wrapper" data-wrapper>

      </div>

    </div>
  </div>
  <button class="swiper-cards__btn swiper-cards__btn_prev" data-btn-prev>
    {{> ui/svg
      className="swiper-cards__btn-icon"
      id="chevron-left"
    }}
  </button>

  <button class="swiper-cards__btn swiper-cards__btn_next" data-btn-next>
    {{> ui/svg
      className="swiper-cards__btn-icon"
      id="chevron-left"
    }}
  </button>
</div>