<footer class="footer {{footerClass}}" id="footer">
  <hr class="footer__line">
  <div class="footer__container container">
    <div class="footer__inner">
      <div class="footer__destinations">
        <h2 class="footer__destinations-title">Популярные направления</h2>
        {{> ui/links-list
          linksListClass="footer__destinations-list"
          classNameItem="footer__destinations-link link-state"
          link=links.directions.href
          sortItems=(split "Египет, Бали, ОАЭ, Грузия, Таиланд, Греция, Болгария, Турция, Тенерифе, Кипр")
        }}
      </div>
      <div class="footer__contacts">
        <div class="footer__contacts-inner">
          <h2 class="footer__contacts-title">Контакты</h2>
          <p class="footer__contacts-desc">Clubs Travel OÜ</p>
          <ul class="footer__contacts-list">
            <li class="footer__contacts-item">
            {{> ui/svg
              className="footer__contacts-icon"
              id="clock"
            }}
            <span>Пн-Пт 9:30-18:00, Сб 11:00-15:00</span>
            </li>
            <li class="footer__contacts-item">
            {{> ui/svg
              className="footer__contacts-icon"
              id="point"
            }}
            <span>Narva mnt 7D, Tallinn (корпус B) 4 этаж</span>
            </li>
            <li class="footer__contacts-item">
            {{> ui/svg
              className="footer__contacts-icon"
              id="phone"
            }}
            <div class="footer__contacts-phones">
              <a
                href="tel:+37255560310"
                class="footer__contacts-link link-state"
                aria-label="Позвонить по номеру +372 555 60 310">+372 555 60 310
              </a>
              <span class="footer__contacts-phone-line"> | </span>
              <a
                href="tel:+3726130633"
                class="footer__contacts-link link-state"
                aria-label="Позвонить по номеру +372 61 30 633">+372 61 30 633
              </a>
            </div>
            </li>
            <li class="footer__contacts-item">
            {{> ui/svg
              className="footer__contacts-icon"
              id="mail"
            }}
            <a
              href="mailto:info@clubstravel.ee"
              class="footer__contacts-link link-state">
              info@clubstravel.ee
            </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__social">
        <hr class="footer__social-line" aria-hidden="true">
        <div class="footer__social-inner">
          <div class="footer__social-row">
            <a
              href="{{links.instagram.href}}"
              target="_blank"
              rel="noopener noreferrer"
              class="footer__social-link link-state">
              {{> ui/svg
                className="footer__social-icon"
                id="instagram"
                dataAttr='focusable="false"'
              }}
              <span>@booking.clubstravel.ee</span>
            </a>
          </div>
          {{> ui/picture
            className="footer__social-photo"
            alt="Social messenger"
            desktop="/src/assets/image/footer/social.jpg"
            desktopWebp="/src/assets/image/footer/social.webp"
          }}
        </div>
      </div>
    </div>
  </div>
  <div class="footer__rights">
    <p class="footer__rights-item">©2020 Clubstravel. Все права защищены.</p>
    <a href="{{links.policy.href}}" class="footer__rights-link link-state">Политика конфиденциальности</a>
    <a href="{{links.policy.href}}" class="footer__rights-link link-state">Политика использования</a>
  </div>
</footer>