.badge {
    background-color: var(--primary);
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    min-width: 80px;
    min-height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}