@use "@/scss/ui/btn";
@use "@/scss/ui/link-basic";
@use "@/scss/utils/variables" as *;
@use "@/scss/utils/media" as media;

.main-layout {
    position: relative;
    background: url('@/assets/image/components/promo-support/bg.webp') no-repeat center center;
    background-size: cover;
    padding-top: 120px;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(8, 44, 99, 0.80) 0%, rgba(8, 44, 99, 0.80) 100%);
    }
}

.base-form {
    position: relative;
    width: 100%;
    max-width: 427px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;

    @include media.max-width(sm) {
        width: 350px;
    }

    &__container {
        padding: 33px 28px;
        margin-bottom: 16px;
        width: 100%;
    }

    .social-header {
        color: $text-secondary;
        font-size: 14px;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
        max-width: 350px;
        opacity: .5;
    }

    .social-icon {
        width: 24px;
        height: 24px;
    }

    .social-buttons {
        padding: 0 4px;
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-bottom: 32px;
        width: 100%;
    }


    .divider {
        display: flex;
        align-items: center;
        color: #ccc;
        margin: 20px 0 26px 0;
    }

    .divider::before,
    .divider::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
        margin: 0 10px;
    }

    &__input-group {
        position: relative;
        text-align: left;
        margin-bottom: 14px;
    }

    &__label {
        display: block;
        color: #999;
        font-size: 13px;
        margin-bottom: 6px;
        margin-left: 16px;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--input-border);
        border-radius: 4px;
        background: var(--white);

        &:focus,
        &:active {
            border-color: var(--blue);
        }
    }

    &__label-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-top: 30px;

        @include media.max-width(sm) {
            grid-template-columns: 1fr;
        }
    }

    &__btn {
        width: 100%;
    }

    .just-validate-error-label {
        color: rgb(184, 17, 17);
        position: absolute;
        bottom: -12px;
        left: 3px;
        font-size: 11px;
        background: #fff;
        padding: 5px;
        border-radius: 5px;
    }

    .is-invalid {
        border: 1px solid #ff4d4d !important;
    }

    .is-valid {
        border: 1px solid #57bc7f !important;
    }

    .policy-links {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        background: none;

        a {
            display: block;
            color: white;
            text-decoration: underline;
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
}