@use "@/scss/utils/variables" as *;

.link-basic {
    color: $blue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;

    &_white {
        color: #fff;
    }
}