@use "@/scss/utils/media" as media;
.main{
    & .promo-company,& .promo-offers {
        margin-top: 102px;
        @include media.max-width(md) {
            margin-top: 82px;
        }
    }

    & .promo-winter-tours,& .promo-summer-tours {
        margin-top: 98px;
        @include media.max-width(md) {
            margin-top: 80px;
        }
    }

    & .promo-support {
        color: #fff;
        margin-top: 100px;
        @include media.max-width(sm) {
            margin-top: 80px;
        }
    }
}