@use "@/scss/utils/media" as media;
.promo-tours {

    &__container {
    }

    &__header {
    }
    &__header-icon {
        width: 35px;
        aspect-ratio: 1;
        fill: #F15D28;
    }

    &__header-title {
        &_orange {
            color: #f15d28;
        }
    }

    &__swiper-cards {
        margin-top: 20px;
        @include media.max-width(sm) {
            margin-top: 26px;
        }
    }

    &__footer {
        margin-top: 32px;
    }
}

